@import './vars';
@import './../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'; 

body{
  position: relative;
  padding-top: 50px;
}
//* Front
.section-front{
  background: url('http://lorempixel.com/800/600/');
  background-size: cover;
  height: 100vh; // TODO need fix padding top of body
  position: relative;
}
.image-effect{
  background-color: rgba(0,0,0,.3);
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.front-title{
  position: absolute;
  bottom: 5em;
  width: 100%;
}
.front-title{
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,.8);
}
.front-title h1 small{
  display: block;
  margin-top: .5em;
  color: #fff;
  font-style: oblique;
}

//* Calendar
.section-calendar{
  background-color: red;
}

.calendar-item{
  min-height: 300px;
}

//* Explorer
.section-explorer{
  padding: 200px;
  background-color: green;
}

